
.ajax-form-container {
    padding: 10px;
}

.field-valid-text {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.form-field {
    padding: 0px 0 10px 80px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    position: relative;
}

.field-label {
    float: left;
    width: 80px;
    margin-left: -80px;
    display: block;
    overflow: hidden;
    line-height: 26px;
    font-weight: normal;
}

    .field-label.field-required:after {
        content: "*";
        color: #f60;
        margin-left: 5px;
    }

.form-submit {
    padding: 0px 0 10px 80px;
    line-height: 26px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    position: relative;
}

input.single-line {
    width: 180px;
    height: 18px;
    outline: 0;
    border: 1px solid #c6c6c6;
    padding: 2px;
}

.form-field select {
    height: 24px;
    line-height: 18px;
    text-align: left;
    border: 1px solid #c6c6c6;
    display: inline;
    outline: 0;
    margin-right: 5px;
    margin: 0;
    padding: 0;
}

textarea.multi-line {
    border: 1px solid #c6c6c6;
    vertical-align: middle!important;
    width: 180px;
    height: 100px;
    outline: 0;
    padding: 2px;
}


#searchbox {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    height: 30px;
}

    #searchbox .form-field {
        padding: 0px 0 0px 60px;
        line-height: 30px;
        float: left;
        height: 30px;
    }

    #searchbox .field-label {
        float: left;
        width: 65px;
        margin-left: -60px;
        line-height: 30px;
        text-align: right;
        padding-right: 5px;
    }

    #searchbox input.single-line {
        width: 80px;
    }

    #searchbox .form-field-submit {
        padding: 0px 0 0px 20px;
    }



input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid #ff8700;
    background: #FFFCEF;
    color: #333;
}

input.k-vcode {
    width: 52px;
    font: bold 14px Verdana;
    text-align: center;
}


.form-field .k-numerictextbox {
    width: 120px;
}

.form-cascading {
    display: inline-block;
}

.form-textarea textarea {
    width: 205px;
    height: 150px;
}

.form-longtext .single-line {
    width: 360px;
}

.field-hint-message {
    display: block;
    color: gray;
}


/* Styles for validation helpers
-----------------------------------------------------------*/


.field-validation-error {
    left: 290px;
    line-height: 22px;
    padding: 0 10px 0 22px;
    position: absolute;
    top: 0px;
    z-index: 550;
}


.field-prompt-message {
    display: block;
    color: gray;
}

.field-validation-error {
    color: #f00;
    background-color: #fbe3e4;
    border: solid 1px #c13a3f;
    display: block;
    background: url(images/16/form_error.png) 3px 2px no-repeat;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
